.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app__form{
  padding: 20px;
  position: fixed;
  bottom:0;
  z-index: 1;
  background-color: #e9e9eb;
  width:100%;
  margin:20px;
}
